        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        header {
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        }
        
        .logo {
            color: #333333 !important;
            list-style: none !important;
            font-family: 'Playfair Display', serif !important;
            font-style: normal;
            font-weight: bold !important;
            font-size: 15px !important;
            line-height: 27px !important;
            /* identical to box height */
            letter-spacing: 0.4em !important;
            text-transform: uppercase !important;
        }
        
        .logo span {
            color: #FECC99;
        }
        
        html {
            scroll-behavior: smooth;
            font-family: 'Airbnb Cereal App';
        }
        
        .nav-item {
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            font-weight: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
            color: #666666;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            font-style: normal;
        }
        
        .hero {
            height: 90vh;
            background: url(../assets/General/hero.png), #C4C4C4;
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .hero-text {
            padding-top: 200px;
            font-family: 'Playfair Display', serif;
            font-weight: 100;
            font-style: normal;
            font-size: 40px;
            line-height: 50px;
        }
        
        .btn-outline-mine {
            background: #FECC99;
            border: none;
            color: #4D4D4D;
            border-radius: 0;
            font-size: 14px;
        }
        
        .about {
            background: linear-gradient(180deg, rgba(26, 26, 26, 0.9) 0%, rgba(77, 77, 77, 0.95) 48.44%, rgba(23, 23, 23, 0.87) 100%), url('../assets/General/Rectangle 4 (5).png');
            position: relative;
            bottom: 12px;
        }
        
        .about .container .row {
            padding-top: 120px;
        }
        
        .section__header h3 {
            font-weight: bold;
            font-size: 14px;
            line-height: 23px;
            text-transform: uppercase;
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
            color: #FECC99;
            letter-spacing: 0.2em;
        }
        
        .section__caption h2 {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 53px;
            letter-spacing: 0.05em;
            padding-top: 40px;
            color: #FFFFFF;
        }
        
        .section__explain p {
            padding-top: 20px;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            color: #FECC99;
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
        }
        
        .about__img img {
            height: 75vh;
        }
        
        ol li {
            list-style-type: none;
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            /* identical to box height */
            text-transform: capitalize;
            color: white;
        }
        
        .recent {
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #4D4D4D;
        }
        
        .portfolio {
            padding-top: 120px;
        }
        /* slick slide here */
        
        .slick-slide {
            display: none;
            float: left;
            height: inherit !important;
            min-height: 1px;
        }
        
        p .card-text {
            font-style: normal;
            font-family: 'Open Sans', sans-serif;
        }
        
        @media (max-width:991.98px) {
            .padding {
                padding: 1.5rem
            }
        }
        
        @media (max-width:767.98px) {
            .padding {
                padding: 1rem
            }
        }
        
        .padding {
            padding: 5rem
        }
        
        .card {
            position: relative;
            display: flex;
            width: 600px;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
            background: #FFFFFF;
            box-shadow: -3px 4px 12px rgba(229, 229, 229, 0.6);
        }
        
        .card .card-body {
            padding: 1rem 1rem
        }
        
        .card-body {
            flex: 1 1 auto;
            padding: 1.25rem
        }
        
        .slick-slide {
            margin: 10px
        }
        
        .avatar {
            height: 10vh;
            position: relative;
            bottom: 20px;
        }
        
        .avatar__div {
            position: relative;
            bottom: 5px;
        }
        
        .slider__name {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 21px;
            position: relative;
            bottom: 17px;
            letter-spacing: 0.1em;
            color: #4D4D4D;
        }
        
        .slider__testimonial p {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #333333;
        }
        
        .contact {
            background: linear-gradient(180deg, rgba(26, 26, 26, 0.9) 0%, rgba(77, 77, 77, 0.95) 48.44%, rgba(23, 23, 23, 0.87) 100%), url('../assets/General/Rectangle 4 (5).png');
        }
        
        .contact .container .row {
            padding-top: 120px;
        }
        
        .contact__sequel {
            margin: 30px 10px 40px 10px
        }
        
        .contact__sequel h4 {
            line-height: 40px;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1em;
            color: #FECC99;
        }
        
        .contact__sequel p {
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
            font-weight: 500;
            font-size: 18px;
            line-height: 31px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }
        
        label {
            font-family: 'Airbnb Cereal App Book';
            font-style: normal;
            src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
            font-weight: 500;
            font-size: 12px;
            line-height: 21px;
            /* identical to box height */
            letter-spacing: 0.2em;
            color: #FFFFFF;
        }
        
        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #4D4D4D;
            background: rgba(255, 255, 255, 0.5);
            ;
        }
        /* media Query */
        
        @media screen and (max-width: 576px) {
            .hero-text {
                padding-top: 200px;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-style: normal;
                font-size: 27px;
                line-height: 41px;
                text-align: center;
            }
            div.btn-div {
                text-align: center;
            }
            div.btn-div .btn-outline-mine {
                padding: 10px
            }
            .hero {
                height: 90vh;
                background: url(../assets/General/Rectangle\ 43\ \(1\).png), #C4C4C4;
                /* background-color: red !important; */
                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .section__header h3 {
                margin-top: -70px;
            }
            .services .row {
                flex-direction: column-reverse;
            }
            /* .img-fluid {
                width: 100%;
            } */
            /* .tt {
                flex-direction: column-reverse;
                display: flex;
            } */
        }